<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' data:"> -->

    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выписка</title>
    
</head>
<body>
    <section class="container header">
        <header>
            Выписка
        </header>
        <h1>Выписка из нормативного правового акта 
            о бюджете субъекта Российской Федерации 
            (муниципального правового акта о бюджете), 
            бюджетной росписи субъекта Российской Федерации 
            (местного бюджета)
            Камышловский городской округ
            Наименование субъекта Российской Федерации
            (муниципального образования, в составе субъекта Российской Федерации)
        </h1>
    </section>

    <section class="container requisites" >
        <div><label for="date">Дата выписки: </label>
            <input type="date" id="date" name="date"/></div>
        <h2>Реквизиты нормативного правового акта о бюджете </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Дата принятия</th>
                    <th>Тип акта (закон, решение)</th>
                    <th>Наименование акта</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>180</td>
                    <td>08.12.2022</td>
                    <td>решение </td>
                    <td>Решение Думы   Камышловского городского округа  «О бюджете Камышловского городского округа на 2023 год и плановый период 2024 и 2025 годов»</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="container expenditure">
        <h2>Содержание норм, подтверждающих наличие расходных обязательств и бюджетных ассигнований 
            на финансирование мероприятий софинансирование которых осуществляется 
            за счет субсидий областного бюджета</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование мероприятия, софинансирование которого планируется осуществить за счет субсидии</th>
                    <th>Страница, пункт или номер строки по тексту нормативного правового акта о бюджете</th>
                    <th>Сумма бюджетных ассигнований (рублей)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Муниципальная программа «Развитие образования, культуры, спорта и молодежной политики в Камышловском городском округе до 2027 года», Подпрограмма "Развитие образования в сфере культуры в Камышловском городском округе", Оснащение муниципальных организаций дополнительного образования (детские школы искусств) музыкальными инструментами, оборудованием и учебными материалами на условиях софинансирования из федерального бюджета</td>
                    <td>Приложение, 4 строка, 495 </td>
                    <td>Сумма на 2023 год
    
                        5 969 000,00</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="container income">
        <h2>Доходы</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>КБК</th>
                    <th>Наименование</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>90620225519040000150</td>
                    <td>Субсидии бюджетам городских округов на поддержку отрасли культуры</td>
                    <td>Сумма на 2023 год  (рублей)
                        5 313 000,00</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="container expense">
        <h2>Расходы</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Дата утверждения сводной бюджетной росписи (внесения изменений в сводную бюджетную роспись) д/м/г</th>
                    <th>Наименование финансового органа</th>
                    <th>Наименование должности руководи­теля финансового органа</th>
                    <th>Фамилия, Имя, Отчество руководителя финансового органа</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>21.12.2022 (17.01.2023) </td>
                    <td>финансовое управление администрации Камышловского городского округа</td>
                    <td>Начальник финансового управления администрации Камышловского городского округа</td>
                    <td>Солдатов А.Г.</td>
                </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
                <tr>
                    <th>КБК</th>
                    <th>Наименование</th>
                    <th>Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="td-rkbk">9060703025A155192622</td>
                    <td>Муниципальная программа «Развитие образования, культуры, спорта и молодежной политики в Камышловском городском округе до 2027 года», Подпрограмма "Развитие образования в сфере культуры в Камышловском городском округе", Оснащение муниципальных организаций дополнительного образования (детские школы искусств) музыкальными инструментами, оборудованием и учебными материалами на условиях софинансирования из федерального бюджета</td>
                    <td>Сумма на 2023 год (рублей)
    
                        5 969 000,00</td><button id="btn-rkbk">...выбрать кбк</button>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>